# config.h files (copy config.h.pc or config.h.x260 as config.h in each directory to your liking)
config.h

# Suckless make files
suckless/dmenu/dmenu
suckless/dmenu/dmenu.o
suckless/dmenu/drw.o
suckless/dmenu/stest
suckless/dmenu/stest.o
suckless/dmenu/util.o
suckless/dwm/drw.o
suckless/dwm/dwm
suckless/dwm/dwm.o
suckless/dwm/util.o
suckless/slock/explicit_bzero.o
suckless/slock/slock
suckless/slock/slock.o
suckless/slstatus/components/battery.o
suckless/slstatus/components/cat.o
suckless/slstatus/components/cpu.o
suckless/slstatus/components/datetime.o
suckless/slstatus/components/disk.o
suckless/slstatus/components/entropy.o
suckless/slstatus/components/hostname.o
suckless/slstatus/components/ip.o
suckless/slstatus/components/kernel_release.o
suckless/slstatus/components/keyboard_indicators.o
suckless/slstatus/components/keymap.o
suckless/slstatus/components/load_avg.o
suckless/slstatus/components/netspeeds.o
suckless/slstatus/components/num_files.o
suckless/slstatus/components/ram.o
suckless/slstatus/components/run_command.o
suckless/slstatus/components/swap.o
suckless/slstatus/components/temperature.o
suckless/slstatus/components/uptime.o
suckless/slstatus/components/user.o
suckless/slstatus/components/volume.o
suckless/slstatus/components/wifi.o
suckless/slstatus/slstatus
suckless/slstatus/slstatus.o
suckless/slstatus/util.o
suckless/st/st
suckless/st/st.o
suckless/st/x.o
suckless/surf/surf
suckless/surf/surf.o
suckless/surf/webext-surf.o
suckless/surf/webext-surf.so

